.vscode
.pio
.DS_Store
OnPod/Node/*/Drivers
OnPod/Node/*/.mxproject
OnPod/Node/*/*.gpdsc
OnPod/Node/*/Inc
OnPod/Node/*/Src
OnPod/Node/.gitignore
OnPod/Node/Examples/*/BoardFiles/Drivers
OnPod/Node/Examples/*/BoardFiles/*.gpdsc
OnPod/Node/Examples/*/BoardFiles/.mxproject
