.vscode
.pio
.DS_Store
OnPod/Node/*/Drivers
OnPod/Node/*/.mxproject
OnPod/Node/*/*.gpdsc
OnPod/Node/*/Inc
OnPod/Node/*/Src
OnPod/Node/.gitignore
OnPod/Node/Examples/*/Drivers
OnPod/Node/Examples/*/*.gpdsc
OnPod/Node/Examples/*/.mxproject
OnPod/Node/Examples/*/Inc
OnPod/Node/Examples/*/Src
